{{% load static %}

{% block content %}

{% include 'user_navigation.html'  %}

<script>
    function checkpass()
    {
    if(document.changepassword.newpassword.value!=document.changepassword.confirmpassword.value)
    {
    alert('Your New Password and Confirm Password does not match');
    document.changepassword.confirmpassword.focus();
    return false;
    }
    return true;
    }
</script>


<marquee style="font-family: 'Monotype Corsiva' ; font-size : 25px ; color : yellow ; background-color : black ; font-weight : bold ; margin-top: 1%">
    Change Admin Password
 </marquee>
 <hr>
 



  <!--Form start from here-->

  <form class="container mt-5" method="post" name="changepassword" onsubmit="return checkpass()">
    {% csrf_token %}
    
    <label><b>Current Password</b></label>
    <input type="password" class="form-control" name="currentpassword" required>

    <label><b>New Password</b></label>
    <input type="password" class="form-control" name="newpassword" required>
    

    <label><b>Confirm New Password</b></label>
    <input type="password" class="form-control" name="confirmpassword" required>

    <input type="submit" class="btn btn-primary" style="margin-top : 2% ; color : yellow ; background-color : black ; font-weight : bold ">



</form>

<!--End Form-->

<!--Java script code for display error msg or successfull msg-->

{% ifequal error "no" %}
<script>
   alert(" Password changed successfully");
   window.location = ( '{% url 'Logout' %}' )
</script>
{% endifequal %}


{% ifequal error "yes" %}
<script>
   alert("Something went wrong! Try Again...");
</script>
{% endifequal %}

{% ifequal error "not" %}
<script>
   alert("Your current password is wrong! Try Again...");
</script>
{% endifequal %}

<!--End java script code-->


{% endblock %}