{% load static %}

{% block content %}

{% include 'recruiter_navigation.html'  %}


<script>
    function checkpass()
    {
        if(document.signup.pwd.value!=document.signup.cpwd.value)
        {
            alert('Password and Confirm Password does not match');
            document.signup.cpwd.focus();
            return false;
        }
        return true;
    }
</script>


<marquee style="font-family: 'Monotype Corsiva' ; font-size : 25px ; color : yellow ; background-color : black ; font-weight : bold ; margin-top: 1%">
    Change Company Logo
 </marquee>
 <hr>
 
 
 
 <form class="container mt-5" name="signup" onsubmit="return checkpass()" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    


    
    <div class="form-row">
        <div class="form-group col-md-12">
            <label style="color: black ; font-weight: bold">Job Title</label>
            <input type="text" class="form-control" readonly name="jobtitle" value="{{job.title}}" required>
        </div>
        
    </div>
 
         



         <div class="form-row">
           

            <div class="form-group col-md-12">
               <img src="{{ job.image.url}}" width="150" height="80">
           </div>
        </div>  

        <div class="form-row">
            <div class="form-group col-md-12">
                <label style="color: black ; font-weight: bold">Company Logo</label>
                <input type="file" class="form-control" name="logo" value="{{job.experience}}" required>
            </div>
        </div>  


        <input type="submit" value="Submit" class="btn btn-primary" style="color: yellow; width: 100% ; background-color: black; text-align: center ; margin-top: 20px">

</form></br> 
 
 {% include 'footer.html' %}

 

{% ifequal error "no" %}
<script>
    alert("Company Logo has been updated");
    window.location = ( '{% url 'change_companylogo' job.id %}' )

</script>
{% endifequal %}

{% ifequal error "yes" %}
<script>
    alert("Try Again! Something went wrong");
    
</script>
{% endifequal %}




{% endblock %}
