{% load static %}

{% block content %}

{% include 'recruiter_navigation.html'  %}


<script>
    function checkpass()
    {
        if(document.signup.pwd.value!=document.signup.cpwd.value)
        {
            alert('Password and Confirm Password does not match');
            document.signup.cpwd.focus();
            return false;
        }
        return true;
    }
</script>


<marquee style="font-family: 'Monotype Corsiva' ; font-size : 25px ; color : yellow ; background-color : black ; font-weight : bold ; margin-top: 1%">
    Edit Jobs Details
 </marquee>
 <hr>
 
 
 
 <form class="container mt-5" name="signup" onsubmit="return checkpass()" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    


    
    <div class="form-row">
        <div class="form-group col-md-12">
            <label style="color: black ; font-weight: bold">Job Title</label>
            <input type="text" class="form-control" name="jobtitle" value="{{job.title}}" required>
        </div>
        
     </div>
 
         <div class="form-row">
             <div class="form-group col-md-6">
                 <label style="color: black ; font-weight: bold">Start Date</label> <span style="color: red">[{{ job.start_date }}]</span>
                 <input type="date" class="form-control" name="startdate" >
             </div>

             <div class="form-group col-md-6">
                <label style="color: black ; font-weight:bold">End Date</label> <span style="color: red">[{{ job.end_date }}]</span>
                <input type="date" class="form-control" name="enddate" >
            </div>
         </div>  




         <div class="form-row">
            <div class="form-group col-md-6">
                <label style="color: black ; font-weight: bold">Salary (Per Month)</label>
                <input type="text" class="form-control" name="salary" value="{{job.salary}}" required>
            </div>

            <div class="form-group col-md-6">
               <img src="{{ job.image.url}}" width="150" height="80"> <a href="{% url 'change_companylogo' job.id %}">Change Company Logo</a>
           </div>
        </div>  



 
         <div class="form-row">
             <div class="form-group col-md-12">
                 <label style="color: black ; font-weight: bold">Skills</label>
                 <input type="text" class="form-control" name="skills" value="{{job.skills}}" required>
             </div>
         </div> 


         <div class="form-row">
            <div class="form-group col-md-6">
                <label style="color: black ; font-weight: bold">Experience (In Years)</label>
                <input type="text" class="form-control" name="experience" value="{{job.experience}}" required>
            </div>

            <div class="form-group col-md-6">
               <label style=" color: black ; font-weight: bold">Location</label>
               <input type="text" class="form-control" name="location" value="{{job.location}}" required>
           </div>
        </div>  


        <div class="form-row">
            <div class="form-group col-md-12">
                <label style="color: black ; font-weight: bold">Description</label>
                <textarea class="form-control" name="description" required>{{ job.description }}</textarea>
            </div>

            
        </div> 
        <input type="submit" value="Submit" class="btn btn-primary" style="color: yellow; width: 100% ; background-color: black; text-align: center ; margin-top: 20px">

</form></br> 
 
 {% include 'footer.html' %}

 

{% ifequal error "no" %}
<script>
    alert("Job Detail has been updated");
    window.location = ( '{% url 'edit_jobdetail' job.id %}' )

</script>
{% endifequal %}

{% ifequal error "yes" %}
<script>
    alert("Try Again! Something went wrong");
    
</script>
{% endifequal %}




{% endblock %}
